body {
    /*background-color: black;*/
    font-family: 'Quantico', sans-serif;
}

header {
    margin-top: 5rem;
}

form {
    border: 2px solid black;
    margin: 5rem;
}

nav {
    /* height: 10rem; */
}

#img-logo {
   /* height: 3rem !important;
   border: 1px solid black; */
}

section #home-section {
    /* border: 2px solid black; */
    margin-top: 5rem;
}

#profile-img {
    height: 7rem;
    align-items: center;
}

h4 {
    /* bold */
}